@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Oleo+Script&display=swap');



body {      
     background-image: url("./wall1.jpg");
     background-blend-mode: exclusion;
margin: 0px;

background-repeat: repeat;
background-size: cover;


text-align: center;
   
}


.mainmenu{

    background-color: rgb(34, 34, 34);
    width:100%;
    position: fixed;
    
}

.mainmenu ul{
    
    margin : 0px;
    padding: 0px;
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mainmenu ul li a{
    
    padding: 25px;
    color: white;
    text-decoration: none; 
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font: oblique 25px bolder;
    
    
}


.mainmenu ul li a:hover{
    background-color: rgb(35, 35, 35);
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    box-shadow: 0 3px 3px 3px grey;
    transition: ease-out 0.2s;

}
#fix{
  position: absolute;
  left: 60px;
}
.banner{
    padding-top: 150px;
    padding-bottom: 200px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.banner img{
    width: 320px;
    height:auto;
    margin: 0 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    border-style: double;
    box-shadow: 0px 7px 7px 2px ;
    
    
}



.text h1{
    padding-top: 5rem;
    padding-left: 5rem;
    color: rgb(0, 0, 0);
    font: 7vh bolder;
    opacity: 0.8;
    font-family: 'Oleo Script', cursive;
}

.typed-out{
    overflow: hidden;
    /* border-right: .15em solid rgb(131, 129, 127); */
    white-space: nowrap;
    animation: typing 1.5s  steps(45, end) forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 89% }
  }


.content {
    background-color: black;
    opacity: 0.9;
    padding-top: 2rem;
    
   
    
}
.content span{
    color: gainsboro;
    font: 50px bolder oblique  ;
    
    font-family: 'Tapestry', cursive;
    text-align: center;
    
}
.intro{
    font-size:7vh;
    color: gainsboro;
    border: 4px solid rgb(123, 120, 115); ;
    font-family: 'Josefin', cursive;
    padding: 3rem;
}
#info{
    color: gainsboro;
    font-size: 3vw;
}
.button{
background-color: #da60ff;

  border: none;
  color: rgb(4, 4, 4);
  opacity: 1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight: bolder;
  margin: 4px 2px 3rem;
  cursor: pointer;
  border-radius: 40rem;
  

}
.button:hover{
    color: black;
    background-color: blueviolet;
}


.Details{
    padding-top: 20vh;
}
.Details span{
    font-size: 4vw;
}
.Details  p{
    font: 2vw bold ;
    justify-content: left;
    text-align: left;
    padding-left :6vw;

    
}
.PD h2{
    justify-content: left;
    text-align: left;
    padding-left :6vw;
    font-size: 2vw;
}
.PD p{
    padding-left: 8vw;
    font: 2vw oblique;
    padding-right: 3vw;

}

.ED h2{
    justify-content: left;
    text-align: left;
    padding-left :6vw;
    font-size: 2vw;
}
.ED p{
    padding-left: 8vw;
    font: 2vw oblique;
    padding-right: 3vw;

}
.HB p{
    padding-left: 8vw;
    font: 2vw oblique;
    padding-right: 3vw;

}
.HB h2{justify-content: left;
    text-align: left;
    padding-left :6vw;
    font-size: 2vw;}
.goal h2{justify-content: left;
    text-align: left;
    padding-left :6vw;
    font-size: 2vw;}
.goal p{ padding-left: 8vw;
    padding-right: 3vw;
    font: 2vw oblique;}
.c{
    padding-left: 8vw;
    padding-right: 3vw;
    font: 2vw oblique;
}

.contact{
 padding-top: 7vw;
}

.work{
  padding-top: 20vh;
}



/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
  line-break: strict;
  
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: 0 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor:pointer;
  border-radius: 50%;
  border: 5px solid #050505;
  float: left;
  transition: all 0.5s ease;

}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #353736;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}
/* github */
.wrapper ul li:hover.github {
  border: 5px solid #747474;
  
  box-shadow: 0 0 15px #535353;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: #535353;
  text-shadow: 0 0 15px #535353;
  transition: all 0.5s ease;
}

/* Linked in */
.wrapper ul li:hover.linkedin {
  border: 5px solid #2a6dff;
  box-shadow: 0 0 15px #2a6dff;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #2a6dff;
  text-shadow: 0 0 15px #2a6dff;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

/* Youtube */
.wrapper ul li:hover.youtube {
  border: 5px solid #ff0000;
  box-shadow: 0 0 15px #ff0000;
  transition: all 0.5s ease;

}
.wrapper ul li:hover .fa-youtube-play {
  color: #ff0000;
  text-shadow: 0 0 15px #ff0000;
  transition: all 0.5s ease;
}









footer{
    font:4vh bolder; 
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }